* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body
{
    font-family: "Lexend Deca", sans-serif;

}

.container
{
    display:flex;
    flex-direction: row;
    height:70vh;
    padding:10px 100px;
    border-radius: 10px;
    margin-top: 8%;
}
.aside1
{   
    width:25%;
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;



}
.aside2
{       

    width:25%;
    background-color: hsl(184, 100%, 22%);


}
.aside3
{
    
    width:25%;
    background-color:hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;


}
h1
{     font-size: 30px;
     text-transform:uppercase;
     color:white;
     margin: 25px 0 0 35px;
     font-family: "Big Shoulders Display", sans-serif;


}
p
{
    color:white;
    Font-size: 15px;
    font-Weight: 400;
    margin: 25px 35px 0 35px;
    line-height: 1.6;
}
img
{
    margin: 25px 0 0 25px;

}
button
{   background-color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    margin-top:50px;
    margin-left:35px;
    font-size:15px

}
.Sedans
{
color:hsl(31, 77%, 52%);
}
.SUVS
{
color:hsl(184, 100%, 22%) ;
}
.Luxury
{
color:hsl(179, 100%, 13%);
}
@media  (max-width:1035px )
{
    .container
    {
     
        display: flex;
        flex-direction: column;
        min-height:250vh;
    }
    .aside1
    {   
        width:100%;
        border-radius: 10px 10px 0 0px;
    }
    .aside2
    {   
        width:100%;

    }
    .aside3
    {   
        
        width:100%;
        border-radius: 0 0 10px 10px;

    }
    .card
    {
        padding:30px
    }
}